/*
Syntax error: File to import not found or unreadable: compass.
              Load path: /Users/ruben/Sites/gym/app/styles/sass
        on line 2 of partials/_base.scss
        from line 2 of main.scss

1: // Modules and Variables
2: @import "partials/base";
3: 
4: // Partials
5: @import "partials/reset";
6: @import "partials/typography";
7: @import "partials/buttons";

Backtrace:
partials/_base.scss:2
main.scss:2
/Users/ruben/.rvm/rubies/ruby-2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/ruben/.rvm/rubies/ruby-2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/import_node.rb:45:in `import'
/Users/ruben/.rvm/rubies/ruby-2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/ruben/.rvm/rubies/ruby-2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/ruben/.rvm/rubies/ruby-2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/visitors/perform.rb:217:in `visit_import'
/Users/ruben/.rvm/rubies/ruby-2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/ruben/.rvm/rubies/ruby-2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/ruben/.rvm/rubies/ruby-2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/visitors/perform.rb:227:in `block in visit_import'
/Users/ruben/.rvm/rubies/ruby-2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/visitors/perform.rb:227:in `map'
/Users/ruben/.rvm/rubies/ruby-2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/visitors/perform.rb:227:in `visit_import'
/Users/ruben/.rvm/rubies/ruby-2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/ruben/.rvm/rubies/ruby-2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/ruben/.rvm/rubies/ruby-2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/ruben/.rvm/rubies/ruby-2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/ruben/.rvm/rubies/ruby-2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/ruben/.rvm/rubies/ruby-2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/ruben/.rvm/rubies/ruby-2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/ruben/.rvm/rubies/ruby-2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/ruben/.rvm/rubies/ruby-2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/ruben/.rvm/rubies/ruby-2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/ruben/.rvm/rubies/ruby-2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/ruben/.rvm/rubies/ruby-2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/ruben/.rvm/rubies/ruby-2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/ruben/.rvm/rubies/ruby-2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/root_node.rb:20:in `render'
/Users/ruben/.rvm/rubies/ruby-2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/engine.rb:315:in `_render'
/Users/ruben/.rvm/rubies/ruby-2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/engine.rb:262:in `render'
/Users/ruben/.rvm/rubies/ruby-2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/Users/ruben/.rvm/rubies/ruby-2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/ruben/.rvm/rubies/ruby-2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/plugin/compiler.rb:201:in `each'
/Users/ruben/.rvm/rubies/ruby-2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/ruben/.rvm/rubies/ruby-2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/plugin/compiler.rb:235:in `watch'
/Users/ruben/.rvm/rubies/ruby-2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/plugin.rb:107:in `method_missing'
/Users/ruben/.rvm/rubies/ruby-2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/exec.rb:463:in `watch_or_update'
/Users/ruben/.rvm/rubies/ruby-2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/exec.rb:326:in `process_result'
/Users/ruben/.rvm/rubies/ruby-2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/exec.rb:41:in `parse'
/Users/ruben/.rvm/rubies/ruby-2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/exec.rb:21:in `parse!'
/Users/ruben/.rvm/rubies/ruby-2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/bin/sass:9:in `<top (required)>'
/Users/ruben/.rvm/rubies/ruby-2.0.0-p247/bin/sass:23:in `load'
/Users/ruben/.rvm/rubies/ruby-2.0.0-p247/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: compass.\A               Load path: /Users/ruben/Sites/gym/app/styles/sass\A         on line 2 of partials/_base.scss\A         from line 2 of main.scss\A \A 1: // Modules and Variables\A 2: @import \"partials/base\";\A 3: \A 4: // Partials\A 5: @import \"partials/reset\";\A 6: @import \"partials/typography\";\A 7: @import \"partials/buttons\";"; }
