<div id="erfg-prices" class="container marketing">
    <h1>Nuestros precios</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut pulvinar massa. Phasellus in leo justo.
        Curabitur tincidunt eros sit amet eros malesuada, iaculis pharetra lorem aliquet. Interdum et malesuada fames ac
        ante ipsum primis in faucibus. Aenean quis urna ut neque posuere dictum at ut odio. Nam rhoncus, purus sit amet
        molestie venenatis, justo odio volutpat ligula, id egestas enim eros vel metus. Ut vel euismod quam. Duis urna
        lacus, adipiscing id libero non, bibendum ultricies purus. Duis iaculis, nunc nec dictum iaculis, magna justo
        rutrum elit, imperdiet adipiscing leo metus quis eros.</p>
</div>