<div id="erfg-group-activities" class="container marketing">
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th class="text-center hour"></th>
                <th class="text-center">L</th>
                <th class="text-center">M</th>
                <th class="text-center">X</th>
                <th class="text-center">J</th>
                <th class="text-center">V</th>
                <th class="text-center">S</th>
            </tr>
            </thead>
            <tbody>
                <tr class="quarter-cell" ng-repeat="row in datasource">
                    <td title="{{ item.tooltip }}" class="{{ item.class }}" rowspan="{{ item.quarters }}" ng-repeat="item in row">
                        <div class="{{ item.class }}"></div>
                        <div class="text-center text">{{ item.text }}</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

